body {
	background-color: rgb(47, 79, 79);
}

#game {
	margin: 20px auto;
	width: 95vw;
	height: 95vh;
	text-align: center;
	background-color: rgb(53, 53, 53);
	background-image: url("../assets/landingBackground.png");
	font-size: 40px;
	/* display: grid; */
	grid-template-columns: 1fr 32fr 1fr;
	grid-template-rows: 1fr 32fr 1fr;
	grid-template-areas: "blank blank blank" 
	"left center right"
	"empty empty empty";

}

#game-play {
	grid-area: center;
}

#canvas-main{
	margin-top: auto;
}

#game .screen {
	grid-area: center;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}

#game .screen.active {
	display: block;
}

#main-menu {
	padding-top: 1em;
	cursor: pointer;
	font-size: 0.75em;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 0.8em 0;
}

ul.menu li button {
	font-family: Arial, sans-serif;
	font-size: 0.6em;
	color: rgb(206, 206, 246);
	width: 10em;
	height: 1.5em;
	background: rgb(44, 103, 50);
	border: 0.1em solid rgb(223, 200, 42);
	border-radius: 0.5em;
	box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
	background: #2A8533;
}

ul.menu li button:active {
	color: rgb(206, 206, 246);
	background: rgb(0, 0, 0);
}

#join-room {
	font-size: .3em;
	color: white;
}

.keybinding {
	width: 100%;
	font-size: .5em;
	text-align: center;
}

.binding-buttons {
	font-size: 2em;
}

.binding-buttons:hover {
	background: #2A8533;
}

.binding-buttons:active {
	color: rgb(206, 206, 246);
	background: rgb(0, 0, 0);
}

#options {
	text-align: center;
}

#options h5 {
	font-size: .6em;
}

#options table {
	margin: 0 auto;
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#high-scores ol {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

#game div p {
	font-size: 0.5em;
}

#game-play, #map-screen, #game-over, 
#credits, #options, #high-scores, #about {
	color: rgb(206, 206, 246);
	background-color: rgba(22, 60, 71, 0.705)
}

#about p {
	text-align: center;
}


#hslist{
	height: 50%;
}

#highScoresTable th {
	text-align: left;
}

#ranklist{
	height: 50%;
}

#rankTable th {
	text-align: left;
}


#new-user-data{
	text-align: center;
	margin: 10px;
	font-size: 40px;
}

input[type="text"], input[type="password"] {
	font-size:40px;
	margin: 10px;
}

label{
	margin: 10px;
}

.logo {
    display: block;
    margin: 0 auto;
}